<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="container">
    <div class="card">
        <div class="card-header">
            Cadastro de Usuários
        </div>
        <div class="card-body">
            <form action="/users/save" method="post">
                <input type="text" class="form-control" name="email" placeholder="email@exemplo.com">
                <input type="password" class="form-control" name="password" placeholder="Defena sua senha">
                <input type="submit" class="btn btn-primary" value="Criar conta">
            </form>

        </div>
    </div>
</div>